// Fuentes texto
.cursiva {
    font-style: italic;
}

.negrita {
    font-weight: bold;
}

// alineamiento
.aLaDerecha {
    text-align: right;
}

.aLaIzquierda {
    text-align: left;
}

.centrar {
    text-align: center;
}