@import "textos";
@import "estructuras";
@import "responsive";
@import "../bootstrap/scss/bootstrap.scss";
// variables
$titulounocolor: #FFD700;
$titulodoscolor: #9e8a06;
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 43%, rgba(0, 212, 255, 1) 100%);
    h1 {
        // font: $titulounofuente;
        font-family: 'times new roman', serif;
        font-weight: bold;
        font-size: 50px;
        color: $titulounocolor;
    }
    h2 {
        font-style: italic;
        font-family: 'gluten', sans-serif;
        color: $titulodoscolor;
    }
    h3 {
        font-size: 30px;
        a {
            color: white;
        }
    }
}

// footer
footer {
    background-color: #324f9e;
    background-image: linear-gradient(108deg, #324f9e 0%, #190882 27%, #110240 59%);
}

i {
    font-size: 30px;
    color: white;
}